<div class="h-full flex flex-col justify-between px-4 py-6">
    <div class="h-40 content-center">
        <img src="../../../assets/UberLogo.png" class="justify-self-center rounded-full w-full mx-auto block invert brightness-1" alt="Logo da Uber">
    </div>
    <div class="px-4 space-y-2">
        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('wpp-vanessa')">
                <ng-icon hlm name="lucideMessageCircle" class="justify-start"/>
                <span>Fale com Vanessa</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('wpp-demerino')">
                <ng-icon hlm name="lucideMessageCircle" class="justify-start"/>
                <span>Fale com Demerino</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" [cdkCopyToClipboard]="chavePixVanessa" (cdkCopyToClipboardCopied)="onCopySuccess()">
                <ng-icon hlm name="lucideQrCode" class="justify-start"/>
                <span>{{ copiado ? 'Chave Pix Copiada!' : 'Copiar Chave Pix Vanessa' }}</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" [cdkCopyToClipboard]="chavePixDemerino" (cdkCopyToClipboardCopied)="onCopySuccess()">
                <ng-icon hlm name="lucideQrCode" class="justify-start"/>
                <span>{{ copiado ? 'Chave Pix Copiada!' : 'Copiar Chave Pix Demerino' }}</span>
                <div>

                </div>
            </button>
        </div>
    </div>
    <span class="text-white mx-auto mt-10">Powered by OneTap</span>
</div>

