<div class="h-full flex flex-col justify-between px-4 py-6">
    <img src="../../../assets/RenataMartho.jpg" class="justify-self-center rounded-full w-40 h-40 mx-auto block">
    <span class="font-calibri font-semibold text-3xl flex justify-center pt-5 text-white">Renata Martho</span>
    <span class="text-xs flex justify-center font-bold text-white">Consultora Mary Kay</span>

    <div class="px-4 mt-7 space-y-2">
        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('instagram')">
                <ng-icon hlm name="lucideInstagram" class="justify-start"/>
                <span>Instagram</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('wpp-team')">
                <ng-icon hlm name="lucideMessageCirclePlus" class="justify-start"/>
                <span>Faça parte do meu time Mary Kay</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" [cdkCopyToClipboard]="chavePix" (cdkCopyToClipboardCopied)="onCopySuccess()">
                <ng-icon hlm name="lucideQrCode" class="justify-start"/>
                <span>{{ copiado ? 'Chave Pix Copiada!' : 'Copiar Chave Pix' }}</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('catalog')">
                <ng-icon hlm name="lucideAlbum" class="justify-start"/>
                <span>Loja virtual</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('wpp')">
                <ng-icon hlm name="lucideMessageCircle" class="justify-start"/>
                <span>Fale Comigo</span>
                <div>

                </div>
            </button>
        </div>
    </div>
    <img src="../../../assets/mary-kay.png" class="mx-auto block mt-10 w-40 invert brightness-200">
</div>

