<div class="h-full flex flex-col justify-between px-4 py-6">
    <img src="../../../assets/logo-renata.png" class="justify-self-center pt-10">
    <span class="font-calibri font-semibold text-3xl flex justify-center pt-5">Renata Martho</span>
    <span class="text-xs flex justify-center font-bold">Consultora Mary Kay</span>

    <div class="px-4 mt-5 space-y-4">
        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('instagram')">
                <ng-icon hlm name="lucideInstagram" class="justify-start"/>
                <span>Instagram</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" [cdkCopyToClipboard]="chavePix" (cdkCopyToClipboardCopied)="onCopySuccess()">
                <ng-icon hlm name="lucideQrCode" class="justify-start"/>
                <span>{{ copiado ? 'Chave Pix Copiada!' : 'Copiar Chave Pix' }}</span>
                <div>

                </div>
            </button>
        </div>

        <div hlmButtonGroup class="w-full h-15">
            <button hlmBtn mat-ripple class="w-full flex justify-between h-full" (click)="redirectTo('catalog')">
                <ng-icon hlm name="lucideAlbum" class="justify-start"/>
                <span>Catálogo</span>
                <div>

                </div>
            </button>
        </div>
    </div>
    <img src="../../../assets/mary-kay.png" class="mx-auto block pt-10 w-40">
</div>

