<div class="flex flex-col px-8 py-4 gap-4">
    <div class="px-4">
        <div class="flex w-full justify-between">
            <h2 class="font-bold">Pagína inicial</h2>
            <div class="flex gap-2">
                <button hlmBtn variant="secondary" disabled>
                    <hlm-icon size="sm" class="mr-2" name="lucideFileUp" />
                    Upload
                </button>
                <button hlmBtn disabled>
                    <hlm-icon size="sm" class="mr-2" name="lucidePlus" />
                    Adicionar
                </button>
            </div>
        </div>
        <h4>Este é apenas o template inicial. Substitua com seu conteúdo.</h4>
    </div>

    <brn-separator hlmSeparator/>
</div>
