<div class="flex justify-between items-center p-4 border-b-2 h-14">
  <div class="flex items-center gap-4 ">
      <img src="assets/renault.png" class="h-6" alt="" srcset="">
      <img src="assets/renault_group.svg" class="h-6" alt="" srcset="">

      <button hlmBtn variant="ghost" [routerLink]="['']">Visão geral</button>
      <button hlmBtn variant="ghost" disabled>Pagína Genérica</button>
          
  </div>
  <div class="flex gap-3 items-center">
      <span class="text-xs">Powered by</span>
      <span class="font-bold">Tooling LATAM</span>
  </div>

</div>

<div style="min-height: calc(100vh - 3.5rem);"> 
  <router-outlet></router-outlet>
</div>